<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cym.security.dao.UserMapper">


    <insert id="insertUser">
        INSERT INTO
        z_user
        (
        name,
        age,
        password
        )
        VALUES
        (
        #{name},
        #{age},
        #{password}
        )
    </insert>

    <select id="getCountName" resultType="int">
        SELECT
          COUNT(*)
        FROM
          z_user
        WHERE
          name = #{o}

    </select>
</mapper>